@import url('https://fonts.googleapis.com/css2?family=Hind+Vadodara:wght@300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --colorNav: black
}


header{
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    
}

.contenedor{
    display: flex;
    width: 85%;
    height: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}
.logo{
    width: 150px;
    height: 50px;
}

.buscador{
    position: relative;
    height: 40px;
    width: 280px;
}

.buscador input{
    width: 280px;
    height: 40px;
    padding-left: 40px;
    font-size: 14px;
    background-color: rgba(238, 237, 237, 0.708);
    border:1px solid rgba(238, 237, 237, 0.708);
    border-radius: 6px;
   color: rgb(137, 134, 134);
   outline: none;
}

.icono-buscar{
    color: #191919;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 60%;
    left: 2px;
    transform: translateY(-50%);
    padding: 0 15px;
    font-size: 12px;
    color: rgb(106, 104, 104);
    

}


a{
    color: var(--colorNav);
    text-decoration: none;
    font-family:'Hind Vadodara', sans-serif;
    margin: 0 18px;
    text-align: center;
    font-weight: 550;
}

a:hover{
    border-bottom: 2px solid rgb(127, 76, 127);
}
.iconos{
    font-size: 16px;
    color: black;
    display: flex;
    margin-left: 95px;

}



.chat,.campana{
    margin: 0 10px;
    font-weight: 400;
    
}

.chat:hover{
    transform: translateY(-5px);
}

.contenedor-campana{
    position: relative;
    
    
}

.contenedor-campana:hover{
    transform: translateY(-5px);

}

span{
    color: red;
    background-color: red;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    font-size: 24px;
    position: absolute;
    top:-12px;
    right: 10px;
}

.img-perfil{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    
    
}

.img-perfil:hover {
    box-shadow: 0 0  2px 2px rgba(0, 0, 0, 0.1);
}